body {
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;
    background-color: #ffffff; /* Fond blanc */
    color: #003366; /* Bleu plus foncé pour la police */
}

header {
    text-align: center;
    padding: 80px 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #003366;
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px 8px #003366; /* Bleu foncé pour le texte */
}

.slogan {
    font-size: 28px;
    margin-top: 20px;
    color: #003366; /* Bleu plus foncé pour la police */
}

nav {
    text-align: center;
    background: rgba(247, 231, 206, 0.8);
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #003366; /* Bleu plus foncé pour le texte */
    font-size: 22px;
    position: relative;
}

nav a::after {
    content: '';
    display: block;
    height: 2px;
    background: #003366;
    transition: width 0.3s;
    width: 0;
    margin: auto;
}

nav a:hover::after {
    width: 100%;
}

section {
    padding: 60px 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 16px;
    margin-top: 50px;
    color: #003366;
    background: rgba(0, 51, 102, 0.05); /* Légère nuance bleue dans le footer */
}
